header {
    display: flex;
    flex-direction: column;
    min-height: 0;
    margin-bottom: 20px;

    .top {
        .glitnirLogo {
            display: block;
        }

        display: flex;
        flex-direction: row;

        >* {
            margin-left: 10px;
            margin-right: 10px;
        }
    }

    .title {
        margin: 0;
    }
}